{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success p-2 w-100 text-center">{{ button_label|default('save') }}<i class="bi bi-person-plus-fill"></i></button>
{{ form_end(form) }}
