{% extends 'base.html.twig' %}

{% block title %}Edit Autheur{% endblock %}

{% block body %}
     <div class="container-fluid p-4 ">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6 border border-5 bg-light p-4 ">
    <h3 class="mb-4 text-center">Edit author :</h3>

    {{ include('autheur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('autheur_index') }}">back to list</a>

    
    </div></div></div>
{% endblock %}
